name: Litemall接口自动化测试

on:
  push:
    branches: [ main ]  # 每次你 push 就会触发

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: 设置 Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: 安装所有依赖
        run: |
          pip install pytest requests  # 直接安装这两个核心库

      - name: 运行测试
        run: pytest  # 它会自动扫描 tests/ 文件夹